* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #090c31;
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: #15173c;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.pantalla {
    grid-column-start: 1;
    grid-column-end: 5;
    /* grid-column: 1 / 5; */
    /* grid-column: 1 / -1; */
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn {
    background-color: #15173c;
    color: white;
    border: none;
    padding: 1.5rem .5rem;
    cursor: pointer;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #090c31;
}

#cero {
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-column: 1 / 3; */
    /* grid-column: span 2;    Se estira 2 columnas */
}

#igual {
    grid-row: span 2;
    background-color: #e6394a;
}

#igual:hover {
    background-color: #e65766;
}